/* TODO: Complimentary color - #ff4f5a; */

html {
  background-color: #364f6b;
  max-height: 95vh;
  max-width: 80vw;
  margin: auto;
}

body {
  background-color: #fff;
  border-radius: 2%;
}

.container {
  margin: auto;
  max-width: 80%;
  color: #364f6b;
}

img {
  max-height: 300px;
}

a {
  font-size: 10px;
  text-decoration: none;
  color: gray;
}

#banner {
  display: flex;
}

#banner div {
  padding: 2em;
  margin: 5em;
}

nav ul {
  list-style: none;
  display: flex;
}

.menu-items {
  padding-right: 2em;
}

.active-item {
  background-color: pink;
  text-align: left;
}

main {
  padding: 2em;
  text-align: center;
  width: 80%;
}

#content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

h1 {
  text-align: center;
  /* color: #364f6b; */
  color: #ff4f5a;
}

h3 {
  /* color: #3fc1c9; */
  color: #ff4f5a;
}

#question {
  text-align: center;
  padding: 2em;
}

.inputs {
  display: flex;
}

#categories {
  display: flex;
  flex-direction: column;
  padding: 2em;
  min-width: 250px;
}

.buttons button {
  margin: auto;
  display: block;
}
