/* TODO: Complimentary color - #ff4f5a; */
/* #364f6b */

/* Font styles 
Regular text: font-family: 'Biryani', sans-serif;
font-family: 'Fanwood Text', serif;
font-family: 'Khula', sans-serif;
*/

html {
  background-color: #ff4f5a;
  margin: auto;
}

body {
  font-family: 'Biryani', sans-serif;
  max-width: 80vw;
  margin: auto;
  background-color: #fff;
  border-radius: 1%;
}

.container {
  margin: 2em auto;
  max-width: 80%;
  color: #364f6b;
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

h1 {
  font-size: 2.5em;
}

h1,
h3 {
  font-family: 'Khula', sans-serif;
  text-align: center;
  color: #ff4f5a;
  /* color: #364f6b; */
}

h2 {
  font-family: 'Fanwood Text', serif;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  margin: 0;
}

#image {
  display: flex;
  flex-direction: column;
}

a {
  font-size: 10px;
  text-decoration: none;
  color: gray;
  text-align: center;
}

#blurb {
  margin: 1em;
  text-align: center;
}

#content {
  background-color: #f7f8fc;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

main {
  padding: 2em;
  text-align: center;
  width: 80%;
}

#question {
  text-align: center;
  padding: 2em;
}

.inputs {
  display: flex;
}

#categories {
  display: flex;
  flex-direction: column;
  padding: 2em;
  min-width: 250px;
}

.buttons button {
  margin: auto;
  display: block;
}
