/* TODO: Complimentary color - #ff4f5a; */
/* #364f6b */

html {
  background-color: #ff4f5a;
  margin: auto;
}

body {
  max-width: 80vw;
  margin: auto;
  background-color: #fff;
  border-radius: 1%;
}

.container {
  margin: 2em auto;
  max-width: 80%;
  color: #364f6b;
}

header {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 1fr;
  grid-gap: 30px;
}

header img {
  object-fit: contain;
}

#image {
  display: flex;
  flex-direction: column;
}

a {
  font-size: 10px;
  text-decoration: none;
  color: gray;
  text-align: center;
}

#blurb {
  margin: 1em;
}

nav ul {
  list-style: none;
  display: flex;
}

.menu-items {
  padding-right: 2em;
}

.active-item {
  background-color: pink;
  text-align: left;
}

main {
  padding: 2em;
  text-align: center;
  width: 80%;
}

#content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

h1 {
  text-align: center;
  /* color: #364f6b; */
  color: #ff4f5a;
}

h3 {
  /* color: #3fc1c9; */
  color: #ff4f5a;
}

#question {
  text-align: center;
  padding: 2em;
}

.inputs {
  display: flex;
}

#categories {
  display: flex;
  flex-direction: column;
  padding: 2em;
  min-width: 250px;
}

.buttons button {
  margin: auto;
  display: block;
}
